<div class="lg:mx-65 sm:mx-0 mt-5"> 
    <h1 class=" text-4xl font-bold bg-gradient-to-tl  via-[#eb0404ce] to-[#f86706b0]  bg-clip-text text-transparent" id="home">Learn, Cook, Eat Your Food</h1>

<div class="category contain-size  flex w-full">
    <ul class="sm:flex hidden lg:flex mt-8 flex-wrap gap-4 w-200 font-medium text-center dark:text-gray-400">
        <li class="me-2">
            <a aria-current="page" class="inline-block catLink px-4 py-2  border transition-all hover:shadow-xl shadow duration-300 rounded-full hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300 active" routerLink="" routerLinkActive="bg-black text-white" data-discover="true">All</a></li>
        <li class="me-2">
            <a class="   inline-block px-4 py-2 catLink border-gray-400 border transition-all hover:shadow-xl shadow duration-300  rounded-full hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLink="/Beef" routerLinkActive="bg-black text-white" data-discover="true">Beef</a></li>
            <li class="me-2">
                <a class="   inline-block px-4 py-2 catLink border-gray-400 border transition-all hover:shadow-xl shadow duration-300  rounded-full hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLink="/Breakfast" routerLinkActive="bg-black text-white" data-discover="true">Breakfast</a>
            </li>
                <li class="me-2">
                    <a class="   inline-block px-4 py-2 catLink border-gray-400 border transition-all hover:shadow-xl shadow duration-300  rounded-full hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLink="/Chicken" routerLinkActive="bg-black text-white" data-discover="true">Chicken</a>
                </li>
                <li class="me-2">
                    <a class="   inline-block px-4 py-2 catLink border-gray-400 border transition-all hover:shadow-xl shadow duration-300  rounded-full hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLink="/Dessert" routerLinkActive="bg-black text-white" data-discover="true">Dessert</a>
                </li>
                <li class="me-2">
                    <a class="   inline-block px-4 py-2 catLink border-gray-400 border transition-all hover:shadow-xl shadow duration-300  rounded-full hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLink="/Goat" routerLinkActive="bg-black text-white" data-discover="true">Goat</a>
                </li>
                    <li class="me-2"><a class="   inline-block px-4 py-2 catLink border-gray-400 border transition-all hover:shadow-xl shadow duration-300  rounded-full hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLink="/Lamb" routerLinkActive="bg-black text-white" data-discover="true">Lamb</a>
                    </li>
                    <li class="me-2">
                        <a class="   inline-block px-4 py-2 catLink border-gray-400 border transition-all hover:shadow-xl shadow duration-300  rounded-full hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLink="/Miscellaneous" routerLinkActive="bg-black text-white" data-discover="true">Miscellaneous</a>
                    </li>
                    <li class="me-2">
                        <a class="   inline-block px-4 py-2 catLink border-gray-400 border transition-all hover:shadow-xl shadow duration-300  rounded-full hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLink="/Pasta" routerLinkActive="bg-black text-white" data-discover="true">Pasta</a>
                    </li>
                    <li class="me-2">
                        <a class="   inline-block px-4 py-2 catLink border-gray-400 border transition-all hover:shadow-xl shadow duration-300  rounded-full hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLink="/Pork" routerLinkActive="bg-black text-white" data-discover="true">Pork</a>
                    </li>
                    <li class="me-2">
                        <a class="   inline-block px-4 py-2 catLink border-gray-400 border transition-all hover:shadow-xl shadow duration-300  rounded-full hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLink="/Seafood" routerLinkActive="bg-black text-white" data-discover="true">Seafood</a>
                    </li>
                    <li class="me-2">
                        <a class="   inline-block px-4 py-2 catLink border-gray-400 border transition-all hover:shadow-xl shadow duration-300  rounded-full hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLink="/Side" routerLinkActive="bg-black text-white" data-discover="true">Side</a>
                    </li>
                    <li class="me-2">
                        <a class="   inline-block px-4 py-2 catLink border-gray-400 border transition-all hover:shadow-xl shadow duration-300  rounded-full hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLink="/Starter" routerLinkActive="bg-black text-white" data-discover="true">Starter</a>
                    </li>
                    <li class="me-2">
                        <a class="   inline-block px-4 py-2 catLink border-gray-400 border transition-all hover:shadow-xl shadow duration-300  rounded-full hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLink="/Vegan" routerLinkActive="bg-black text-white"data-discover="true">Vegan</a>
                    </li>
                    <li class="me-2">
                        <a class="   inline-block px-4 py-2 catLink border-gray-400 border transition-all hover:shadow-xl shadow duration-300  rounded-full hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300" routerLink="/Vegetarian" routerLinkActive="bg-black text-white"data-discover="true">Vegetarian</a>
                        </li>
                    </ul>

</div>

</div>